.card{
        width: 50%;
        background-color: #f5e1ce;
        padding: 1rem;
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        border-radius: 10px;
        font-weight: bold;
    }