.titulo {

    &__inicio{
        border-radius: 10px;
        color: black;
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(252, 224, 188);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        width: 100%;
    }
    .quienSomos{
        background-color: rgb(245, 224, 196);
        display: flex;
        width: 60%;
        border-radius: 10px;
        margin-left: 20%;
        font-size: 20px;
    }


}